/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body, html {
  background-image: url("BackgroundForAsteroids.png");
  background-size: cover cover cover;
}

.player {
  color: white;
}

span.enemy {
  color: blue;
  size: 500px;

}

.score {
}

div {
  background-color: white;
  font-family: Myriad, Sans-serif;
  font-size: 1vh 15vw;
  text-decoration: none;
  text-align:center;
}



 /* font-size vh or vw number is % of width or height of viewport*/
